<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="css/styles.css" type="text/css">
        <title>{{cuisine.getCuisine}}</title>
        <meta charset="utf-8">
    </head>
    <body>
        {% if cuisine.getCuisine == null %}
            <p>
                no restaurants
            </p>
        {% endif %}

        <div class="container">
            <div class="jumbotron">
                <h1>Restaurants</h1>
            </div>
            <a href="/cuisine_list">
                <button type="button" name="button" class="btn btn-primary">Back</button>
            </a>

            <form action="/add_restaurant/{{cuisine.getId}}" method="post">
                <label for="name">Restaurant Name</label>
                <input type="text" name="name"><br>
                <label for="price">Price</label>
                <select name="price">
                    <option value="1">$</option>
                    <option value="2">$$</option>
                    <option value="3">$$$</option>
                    <option value="4">$$$$</option>
                </select><br>
                <button type="submit" name="button" class="btn btn-info">Add Restaurant</button>
            </form>
            <h3>{{cuisine.getCuisine}}</h3>
            <form action="/filter_price/{{cuisine.getId}}" method="post">
                <select name="price_point">
                    <option value="1">$</option>
                    <option value="2">$$</option>
                    <option value="3">$$$</option>
                    <option value="4">$$$$</option>
                </select>
                <button type="submit" name="button" class="btn">Filter by Price</button>
            </form>
            {% for restaurant in restaurants %}
                <h3>{{restaurant.getRestaurantName}}</h3>
                <form action="/delete_restaurant/{{ restaurant.getRestaurantId }}" method="post">
                    <a href="/edit_restaurant/{{restaurant.getRestaurantId}}">
                        <button class="btn btn-info" type="button">edit</button>
                    </a>
                    <input name="_method" type="hidden" value="delete">
                    <button class="btn btn-danger" type="submit">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </form>
            {% endfor %}
        </div>
    </body>
</html>
