<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="css/styles.css" type="text/css">
        <title></title>
    </head>
    <body>
        <div class="jumbotron">
            <h1>Update
                {{restaurant.getRestaurantName}}</h1>
        </div>
        <form action="/edit_restaurant/{{restaurant.getRestaurantId}}" method="post">
            <input name="_method" type="hidden" value="patch">
            <label for="new_name">Enter new name</label>
            <input id="new_name" type="text" name="new_name" value="{{restaurant.getRestaurantName}}">
            <select name="new_price">
                {% for i in 1..4 %}
                    {% set counter = i %}
                    {% set price_in_dollars = '' %}
                    {% if restaurant.getPricePoint == counter %}
                        <option selected="selected" value="{{i}}">
                            {% for j in 1..i %}
                                {% set price_in_dollars = price_in_dollars ~ "$" %}
                            {% endfor %}
                            {{price_in_dollars}}
                        </option>
                    {% else %}
                        <option value="{{i}}">
                            {% for j in 1..i %}
                                {% set price_in_dollars = price_in_dollars ~ "$" %}
                            {% endfor %}
                            {{price_in_dollars}}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
            <button class="btn" type="submit">update</button>
        </form>
        <a href="/cuisine_list">
            <button type="button" name="button" class="btn btn-info">Back</button>
        </a>
    </body>
</html>
